@layer base{
    :root{

        --clr-white: hsl(0, 0%, 100%);
        --clr-primary: hsl(11, 77%, 45%);
        --clr-secondary: hsl(0, 0%, 7%);
        --clr-paragraph: hsl(210, 3%, 47%);
        --clr-service: hsl(30, 55%, 96%);

        --ff-main: "Jost", sans-serif;

        --fs-xs: 0.75rem;     /* 12px */
        --fs-s: 0.875rem;     /* 14px */
        --fs-m: 1rem;         /* 16px */
        --fs-ml: 1.125rem;    /* 18px */
        --fs-l: 1.25rem;      /* 20px */
        --fs-lx: 1.375rem;    /* 22px */
        --fs-xl: 1.5rem;      /* 24px */
        --fs-xxl: 2.5rem;     /* 40px */
        --fs-king: 3rem;      /* 48px */
        --fs-big: 3.75rem;    /* 60px */
        --fs-bigger: 4.5rem;  /* 72px */
        --fs-giant: 5rem;     /* 80px */

        --fw-regular: 400;
        --fw-medium: 500;
        --fw-semibold: 600;
        --fw-bold: 700;

        --lh-body: 1.6; /* 14-18px */
        --lh-heading: 1.2; /* 20-48px */
        --lh-hero: 1.1; /* 60-80px */

        --spacer: 1rem;
        --decorated-line-width: 8rem;
        --banner-height: 100vh;
    }

    @media (width < 768px){
        
      :root{
          --fs-giant: 2.5rem;
          --fs-king: 2rem;
          --decorated-line-width: 2rem;
          --banner-height: 60vh;
      }
    }
}

  
