@layer buttons{

    .book-cta{
        display: flex;
        align-items: center;
        border: 1px solid var(--clr-primary);
        height: fit-content;
        margin-top: .5rem;
        padding: .5rem 2rem;
        gap: .5rem;
        transition: background-color .3s ease;
    }

    .book-cta::after{
        content: '';
        width: 2rem;
        height: 1rem;
        background: url('../../imgs/arrow.svg') no-repeat center/contain;
    }

    .book-cta:hover{
        background-color: var(--clr-primary);
    }

    .pill{
        display: inline-block;
        padding-block: .5rem;
        padding-inline: 1rem;
        border-radius: .4rem;
    }

    .service-cta{
        display: inline-flex;
        align-items: center;
        border: 1px solid var(--clr-primary);
        margin-top: 1rem;
        padding: .2rem 1rem;
        gap: .75rem;
        transition: background-color .3s ease;
    }

    .service-cta:hover{
        background-color: var(--clr-primary);
        color: var(--clr-white);
    }

    .service-cta::after{
        content: '';
        width: 2rem;
        height: 1rem;
        background: url('../../imgs/arrow-colored.svg') no-repeat center/contain;
    }

    .service-cta:hover::after{
        filter: brightness(0) invert(1);
    }

}